In [1]:
import pandas as pd
import numpy as np
import semopy
import os
import graphviz
import scipy
import sympy
import sklearn

In [2]:
from semopy import Model
from semopy import ModelEffects
from semopy import ModelMeans
from semopy import ModelGeneralizedEffects
from semopy import semplot
from semopy import report
from semopy.effects import EffectStatic, EffectMatern

In [3]:
os.getcwd()

'/Users/nhutran'

In [4]:
os.chdir('/Users/nhutran/Downloads/Datasets')

In [26]:
df = pd.read_csv('dorm.data.for.path.scaled.csv') 
kin = pd.read_csv('kinship_subset.csv')

In [27]:
print(df)

     Unnamed: 0     ID       Admixture     sdorm     pdorm      bio9  \
0             1  10005  central_europe  0.000000  0.166667 -0.830803
1             2  10017  central_europe  0.000000  0.868421 -0.680713
2             3   1002          sweden  0.000000  0.843373 -0.693221
3             4   1061          sweden  0.023256  0.865854 -0.755758
4             5   1062          sweden  0.152778  0.463415 -0.755758
..          ...    ...             ...       ...       ...       ...
240         241   9927  western_europe  0.000000  0.760684  1.345499
241         242   9938  western_europe  0.000000  0.037037 -0.205429
242         243   9949           spain  0.017241  0.000000  1.007797
243         244   9950           spain  0.000000  0.205479  0.332393
244         245    997          sweden  0.000000  0.581395 -0.693221

     2- 6797137  4- 18426284  5- 1181042  5- 23360974  ...  4- 2579478  \
0             0            0           0            0  ...           0
1             0            0           0            0  ...           0
2             0            0           0            0  ...           0
3             0            0           0            0  ...           0
4             0            0           0            0  ...           0
..          ...          ...         ...          ...  ...         ...
240           0            0           0            1  ...           0
241           0            0           0            0  ...           0
242           0            0           0            0  ...           0
243           0            0           0            0  ...           0
244           0            0           0            0  ...           0

     4- 5313081  4- 5608212  5- 13675598  5- 15490683  5- 22658620  \
0             0           0            0            0            1
1             0           0            0            0            1
2             0           0            0            0            1
3             0           0            0            0            1
4             0           0            0            0            1
..          ...         ...          ...          ...          ...
240           0           0            0            0            1
241           0           0            0            0            1
242           0           0            0            0            1
243           0           0            0            0            1
244           0           0            0            0            1

     5- 23918021  5- 24305240  5- 25477213  5- 4545374
0              0            0            1           0
1              0            0            1           0
2              0            0            1           0
3              0            1            1           0
4              0            0            1           0
..           ...          ...          ...         ...
240            0            0            1           0
241            0            0            1           0
242            0            0            1           0
243            0            0            1           0
244            0            0            1           0

[245 rows x 51 columns]

In [17]:
print(df.dtypes)

ID               int64
Admixture       object
sdorm          float64
pdorm          float64
bio9           float64
2- 6797137       int64
4- 18426284      int64
5- 1181042       int64
5- 23360974      int64
5- 25979622      int64
5- 25982051      int64
5- 4746209       int64
5- 8005087       int64
1- 10011495      int64
1- 16607646      int64
1- 16628398      int64
1- 25418645      int64
1- 28691178      int64
1- 5098952       int64
3- 12343743      int64
3- 14836038      int64
3- 15876741      int64
3- 15904659      int64
3- 15908641      int64
3- 15925528      int64
3- 15934344      int64
3- 15939471      int64
3- 15947919      int64
3- 15948342      int64
3- 15951743      int64
3- 15955372      int64
3- 15958227      int64
3- 15960768      int64
3- 15962712      int64
3- 16725340      int64
3- 22199113      int64
3- 8613078       int64
3- 8613179       int64
4- 11991365      int64
4- 2122267       int64
4- 2579478       int64
4- 5313081       int64
4- 5608212       int64
5- 13675598      int64
5- 15490683      int64
5- 22658620      int64
5- 23918021      int64
5- 24305240      int64
5- 25477213      int64
5- 4545374       int64
Genotype        object
FT10           float64
FT10sd         float64
FT16           float64
FT16sd         float64
dtype: object

In [8]:
kin.head()

,Unnamed: 0,10005,10017,1002,1061,1062,1063,1066,115930,115932,...,9892,9895,9897,9899,9902,9927,9938,9949,9950,997
0,10005,1.000000,0.931834,0.922550,0.921968,0.922785,0.923433,0.922802,0.909508,0.909386,...,0.918690,0.922320,0.916508,0.913292,0.916601,0.921755,0.918985,0.921159,0.914508,0.921758
1,10017,0.931834,1.000000,0.922823,0.922134,0.923612,0.924265,0.925857,0.910783,0.910711,...,0.919713,0.921705,0.918105,0.914079,0.918340,0.921455,0.918492,0.921462,0.914462,0.923564
2,1002,0.922550,0.922823,1.000000,0.925608,0.929417,0.925470,0.923922,0.909847,0.910065,...,0.917241,0.919874,0.914510,0.913926,0.917529,0.920691,0.918948,0.918661,0.913631,0.933996
3,1061,0.921968,0.922134,0.925608,1.000000,0.925226,0.928644,0.945829,0.908530,0.908696,...,0.917450,0.921191,0.915599,0.913841,0.916793,0.921199,0.920318,0.920771,0.913917,0.926721
4,1062,0.922785,0.923612,0.929417,0.925226,1.000000,0.938889,0.936406,0.910698,0.910702,...,0.918380,0.922343,0.917731,0.915365,0.919369,0.922232,0.921073,0.922953,0.916404,0.929407

In [5]:
kin.rename(columns = {list(kin)[0]:'ID'}, inplace=True)

In [6]:
kin1 = kin.set_index('ID')

In [11]:
print(kin1)

          10005     10017      1002      1061      1062      1063      1066  \
ID
10005  1.000000  0.931834  0.922550  0.921968  0.922785  0.923433  0.922802
10017  0.931834  1.000000  0.922823  0.922134  0.923612  0.924265  0.925857
1002   0.922550  0.922823  1.000000  0.925608  0.929417  0.925470  0.923922
1061   0.921968  0.922134  0.925608  1.000000  0.925226  0.928644  0.945829
1062   0.922785  0.923612  0.929417  0.925226  1.000000  0.938889  0.936406
...         ...       ...       ...       ...       ...       ...       ...
9927   0.921755  0.921455  0.920691  0.921199  0.922232  0.919842  0.920806
9938   0.918985  0.918492  0.918948  0.920318  0.921073  0.918324  0.920385
9949   0.921159  0.921462  0.918661  0.920771  0.922953  0.921519  0.921167
9950   0.914508  0.914462  0.913631  0.913917  0.916404  0.914410  0.915363
997    0.921758  0.923564  0.933996  0.926721  0.929407  0.925740  0.926881

         115930    115932    115936  ...      9892      9895      9897  \
ID                                   ...
10005  0.909508  0.909386  0.909218  ...  0.918690  0.922320  0.916508
10017  0.910783  0.910711  0.910097  ...  0.919713  0.921705  0.918105
1002   0.909847  0.910065  0.907087  ...  0.917241  0.919874  0.914510
1061   0.908530  0.908696  0.908614  ...  0.917450  0.921191  0.915599
1062   0.910698  0.910702  0.909950  ...  0.918380  0.922343  0.917731
...         ...       ...       ...  ...       ...       ...       ...
9927   0.918049  0.918172  0.917423  ...  0.920125  0.924422  0.918005
9938   0.914340  0.914366  0.912490  ...  0.919336  0.922307  0.917113
9949   0.912764  0.912748  0.911610  ...  0.929108  0.924424  0.923532
9950   0.904642  0.904671  0.904676  ...  0.912431  0.924197  0.913776
997    0.909937  0.910087  0.909521  ...  0.917152  0.920763  0.916405

           9899      9902      9927      9938      9949      9950       997
ID
10005  0.913292  0.916601  0.921755  0.918985  0.921159  0.914508  0.921758
10017  0.914079  0.918340  0.921455  0.918492  0.921462  0.914462  0.923564
1002   0.913926  0.917529  0.920691  0.918948  0.918661  0.913631  0.933996
1061   0.913841  0.916793  0.921199  0.920318  0.920771  0.913917  0.926721
1062   0.915365  0.919369  0.922232  0.921073  0.922953  0.916404  0.929407
...         ...       ...       ...       ...       ...       ...       ...
9927   0.915574  0.919931  1.000000  0.923211  0.923793  0.916209  0.921450
9938   0.911643  0.917414  0.923211  1.000000  0.923619  0.914723  0.919785
9949   0.912401  0.920309  0.923793  0.923619  1.000000  0.914227  0.921331
9950   0.931344  0.927052  0.916209  0.914723  0.914227  1.000000  0.914448
997    0.914600  0.916267  0.921450  0.919785  0.921331  0.914448  1.000000

[245 rows x 245 columns]

In [28]:
df_sub = df[["ID","Admixture","sdorm","pdorm","bio9",
             "5- 25979622","4- 18426284","2- 6797137",
            "3- 15904659","4- 5313081","5- 22658620","1- 5098952"]]

In [30]:
df_sub.head()

,ID,Admixture,sdorm,pdorm,bio9,snp5b,snp4b,snp2b,snp3s,snp4s,snp5s,snp1s
0,10005,central_europe,0.000000,0.166667,-0.830803,0,0,0,1,0,1,0.0
1,10017,central_europe,0.000000,0.868421,-0.680713,0,0,0,1,0,1,0.0
2,1002,sweden,0.000000,0.843373,-0.693221,0,0,0,1,0,1,0.0
3,1061,sweden,0.023256,0.865854,-0.755758,0,0,0,1,0,1,0.0
4,1062,sweden,0.152778,0.463415,-0.755758,0,0,0,1,0,1,0.0

In [29]:
df_sub.rename(columns={'5- 25979622':'snp5b','4- 18426284':'snp4b','2- 6797137':'snp2b',
                      '3- 15904659': 'snp3s', '4- 5313081':'snp4s','5- 22658620':'snp5s',
                      '1- 5098952':'snp1s'}, inplace=True)

/Users/nhutran/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [32]:
df_sub1 = df_sub[["ID","Admixture","sdorm","pdorm","bio9",
             "snp5b","snp3s"]]

In [33]:
df_sub1.head()

      ID       Admixture     sdorm     pdorm      bio9  snp5b  snp3s
0  10005  central_europe  0.000000  0.166667 -0.830803      0      1
1  10017  central_europe  0.000000  0.868421 -0.680713      0      1
2   1002          sweden  0.000000  0.843373 -0.693221      0      1
3   1061          sweden  0.023256  0.865854 -0.755758      0      1
4   1062          sweden  0.152778  0.463415 -0.755758      0      1

In [16]:
kin.iloc[0,0]

10005

In [13]:
df_sub1.iloc[0,0]

10005

In [21]:
kin1.columns.values

array([ 10005,  10017,   1002,   1061,   1062,   1063,   1066, 115930,
       115932, 115936, 115942, 115944, 115946, 115948, 115950, 115954,
       115958, 115962, 115964, 115968, 115972, 115974, 115976, 115980,
       115992, 115994, 115996, 116004, 116006, 116008, 116012, 116014,
       116026,    139,    410,   5831,   5832,   5865,   5867,   5907,
         6019,   6020,   6023,   6024,   6035,   6036,   6038,   6039,
         6040,   6041,   6073,   6076,   6085,   6090,   6094,   6097,
         6100,   6104,   6105,   6106,   6107,   6108,   6111,   6112,
         6114,   6118,   6122,   6125,   6126,   6128,   6132,   6133,
         6134,   6136,   6138,   6140,   6142,   6145,   6148,   6150,
         6188,   6189,   6191,   6192,   6194,   6195,   6198,   6202,
         6203,   6296,   6424,   6445,   6903,   6915,   6933,   6945,
         6957,   6961,   6970,   6971,   6974,   6981,   6982,   6987,
         6989,   7003,   7008,   7013,   7058,   7062,   7119,   7133,
         7147,   7158,   7164,   7169,   7177,   7244,   7255,   7268,
         7276,   7288,   7305,   7327,   7328,   7343,   7354,   7382,
         8222,   8231,   8234,   8237,   8240,   8241,   8242,   8247,
         8249,   8256,   8259,   8264,   8306,   8307,   8326,   8335,
         8369,   8386,   8387,   8420,   8422,   8426,   9057,   9339,
         9369,   9380,   9395,   9399,   9404,   9405,   9407,   9408,
         9409,   9421,   9436,   9453,   9454,   9506,   9517,   9519,
         9524,   9525,   9526,   9531,   9532,   9539,   9547,   9551,
         9556,   9557,   9561,   9562,   9564,   9565,   9567,   9568,
         9569,   9573,   9577,   9578,   9584,   9585,   9586,   9587,
         9589,   9593,   9594,   9595,   9596,   9597,   9599,   9601,
         9602,   9739,   9756,   9776,   9778,   9784,   9795,   9804,
         9807,   9820,   9822,   9825,   9826,   9835,   9836,   9838,
         9840,   9841,   9844,   9845,   9846,   9851,   9852,   9859,
         9861,   9864,   9867,   9868,   9874,   9876,   9881,   9883,
         9886,   9888,   9890,   9892,   9895,   9897,   9899,   9902,
         9927,   9938,   9949,   9950,    997])

In [12]:
kin1.columns = kin1.columns.astype(int)

In [41]:
desc='''
#measurement model
fitness =~ sdorm + pdorm 

#regressions
fitness, sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s 
fitness ~ snp3s + snp5b 

#residual correlations
sdorm ~~ pdorm
'''

In [79]:
ef = [EffectStatic('group',kin1)]

In [42]:
mod1 = semopy.ModelEffects(desc,)

In [119]:
data = df_sub1
k = kin1

In [44]:
print(res)

Name of objective: ML
Optimization method: SLSQP
Optimization successful.
Optimization terminated successfully
Objective value: -1279.423
Number of iterations: 182
Params: 8.201 0.006 -0.021 -0.006 -0.479 0.587 -0.024 0.536 0.033 -0.225 -0.121 0.168 0.000 0.000 0.011 0.000 1.336 0.553 0.816

In [45]:
print(mod1.inspect())

       lval  op     rval      Estimate    Std. Err   z-value   p-value
0   fitness   ~    snp5b -1.206833e-01    2.953598  -0.04086  0.967408
1   fitness   ~     bio9  6.033692e-03    0.157763  0.038245  0.969492
2   fitness   ~    snp3s -2.123448e-02    0.665642 -0.031901  0.974551
3     snp5b   ~     bio9  3.308027e-02     0.00385  8.593251       0.0
4     sdorm   ~     bio9 -6.393658e-03     0.06091 -0.104969    0.9164
5     sdorm   ~    snp3s -4.790910e-01    0.668465 -0.716704  0.473557
6     pdorm   ~     bio9 -2.359116e-02    0.025938 -0.909535  0.363068
7     sdorm   ~  fitness  1.000000e+00           -         -         -
8     pdorm   ~  fitness  8.200565e+00  257.022331  0.031906  0.974547
9     snp5b   ~        1 -2.252750e-01    0.864536 -0.260573  0.794422
10    sdorm   ~        1  5.872925e-01    0.948858  0.618946  0.535952
11    pdorm   ~        1  5.359076e-01    1.670226  0.320859  0.748317
12    snp5b  ~~    snp5b  1.120741e-02     0.11994  0.093442  0.925552
13  fitness  ~~  fitness  2.615912e-12    0.001818       0.0       1.0
14    sdorm  ~~    pdorm  1.683358e-01    0.065709  2.561843  0.010412
15    sdorm  ~~    sdorm  2.819919e-08     0.06798       0.0       1.0
16    pdorm  ~~    pdorm  8.881484e-09     0.00905  0.000001  0.999999
17    pdorm  RF    pdorm  1.336385e+00    0.159379  8.384953       0.0
18    sdorm  RF    sdorm  5.531876e-01    0.102741  5.384275       0.0
19    snp5b  RF    snp5b  8.163704e-01    0.158716  5.143601       0.0

In [46]:
mod1.predict_factors(data).head()

    fitness
0  0.002408
1  0.014037
2  0.012213
3  0.010971
4  0.006976

In [37]:
g =semopy.semplot(mod1, "Test.png")

In [70]:
from semopy.examples import political_democracy
from semopy import ModelMeans

desc = political_democracy.get_model()
data = political_democracy.get_data()
model = ModelMeans(desc)
model.fit(data)
report(model, "Political Democracy")

In [68]:
print(model)

<semopy.model_means.ModelMeans object at 0x7f8c20468d60>

In [40]:
print(desc)

# measurement model
ind60 =~ x1 + x2 + x3
dem60 =~ y1 + y2 + y3 + y4
dem65 =~ y5 + y6 + y7 + y8
# regressions
dem60 ~ ind60
dem65 ~ ind60 + dem60
# residual correlations
y1 ~~ y5
y2 ~~ y4 + y6
y3 ~~ y7
y4 ~~ y8
y6 ~~ y8

In [98]:
print(mod)

<semopy.model_effects.ModelEffects object at 0x7f8c2cc29730>

In [106]:
desc='''
#measurement model
fitness =~ sdorm + pdorm 

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s 

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
k = kin1
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
report(m, "semopy.Model")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.

In [105]:
print(m)

<semopy.model.Model object at 0x7f8c2cc29e20>

In [157]:
ft = pd.read_csv("dorm.data.for.path.withFT.csv")

In [162]:
ft.head()

,ID,Admixture,sdorm,pdorm,FT16,bio9,snp5b,snp4b,snp2b,snp3s,snp4s,snp5s,snp1s
0,10005,central_europe,0.000000,0.166667,67.25,1.3,0,0,0,1,0,1,0
1,10017,central_europe,0.000000,0.868421,76.50,2.5,0,0,0,1,0,1,0
2,1002,sweden,0.000000,0.843373,86.25,2.4,0,0,0,1,0,1,0
3,1061,sweden,0.023256,0.865854,94.75,1.9,0,0,0,1,0,1,0
4,1062,sweden,0.152778,0.463415,68.25,1.9,0,0,0,1,0,1,0

In [159]:
ft_sub = ft[["ID","Admixture","sdorm","pdorm","FT16","bio9",
             "5- 25979622","4- 18426284","2- 6797137",
            "3- 15904659","4- 5313081","5- 22658620","1- 5098952"]]

In [160]:
ft_sub.rename(columns={'5- 25979622':'snp5b','4- 18426284':'snp4b','2- 6797137':'snp2b',
                      '3- 15904659': 'snp3s', '4- 5313081':'snp4s','5- 22658620':'snp5s',
                      '1- 5098952':'snp1s'}, inplace=True)

/Users/nhutran/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [163]:
desc='''
#measurement model
fitness =~ sdorm + pdorm + FT16

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
FT16 ~ snp5b
sdorm ~ snp3s 

#residual correlations
sdorm ~~ pdorm
pdorm ~~ FT16
'''

data=ft_sub 
k = kin1
m1 = Model(desc,)
m1.fit(data)
m1.inspect(std_est=True)
report(m1, "semopy.Model1")

In [164]:
desc='''
#measurement model
fitness =~ sdorm + pdorm 

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s 
sdorm ~ pdorm

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
k = kin1
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
report(m, "semopy.Model2")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.

In [34]:
from semopy.examples import example_rf

desc = example_rf.get_model()
data, k = example_rf.get_data()

model = ModelEffects(desc)
model.fit(data, group='group', k=k)
print(model.inspect())
report(model,"Example2")

    lval  op  rval      Estimate     Std. Err    z-value   p-value
0   eta2   ~  eta1  2.935078e+00     0.221928  13.225368       0.0
1     y1   ~  eta1  1.000000e+00            -          -         -
2     y2   ~  eta1  3.068165e+00     0.227658  13.477069       0.0
3     y3   ~  eta2  1.000000e+00            -          -         -
4     y4   ~  eta2 -2.379006e-02      2.67944  -0.008879  0.992916
5     x2   ~  eta1  2.127267e+00     0.170096  12.506251       0.0
6     x1   ~  eta1 -2.366354e+00     0.185135 -12.781745       0.0
7     x2   ~     1  3.445911e-01     0.595696   0.578468  0.562948
8     x1   ~     1 -5.109069e-01     0.658448  -0.775925  0.437793
9     y1   ~     1  3.778589e-01     0.302049   1.250985   0.21094
10    y2   ~     1  6.741427e-01     0.841232   0.801375  0.422914
11    y3   ~     1  5.946280e-01     0.808902   0.735105  0.462275
12    y4   ~     1 -9.542497e-01    14.949565  -0.063831  0.949105
13  eta2  ~~  eta2  1.621088e-18  10816.70334        0.0       1.0
14  eta1  ~~  eta1  4.995548e+01    16.421567   3.042065   0.00235
15    y2  ~~    y2  0.000000e+00  1805.572411        0.0       1.0
16    y1  ~~    y1  0.000000e+00  1805.572409        0.0       1.0
17    x1  ~~    x1  1.520605e-17  1805.572417        0.0       1.0
18    x2  ~~    x2  0.000000e+00  1805.572409        0.0       1.0
19    y4  ~~    y4  0.000000e+00  1805.569031        0.0       1.0
20    y3  ~~    y3  0.000000e+00  1805.692321        0.0       1.0
21    x1  RF    x1  5.313770e-02     6.016011   0.008833  0.992953
22    x2  RF    x2  5.312767e-02      6.01601   0.008831  0.992954
23    y1  RF    y1  4.086402e-02     6.015909   0.006793   0.99458
24    y2  RF    y2  4.119525e-02     6.015919   0.006848  0.994536
25    y3  RF    y3  5.295064e-02    30.031253   0.001763  0.998593
26    y4  RF    y4  5.078092e+02   150.978378   3.363456   0.00077

Exception: Data must be provided.

In [21]:
from semopy import report

In [166]:
mytuple = (df_sub1,kin1)

In [167]:
df, kk = mytuple

In [156]:
desc='''
#measurement model
fitness =~ sdorm + pdorm 

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s 

#residual correlations
sdorm ~~ pdorm
'''

mod = ModelEffects(desc,)
mod.fit(df, group ='ID', k=kk,)
mod.predict_factors(data).head()
mod.inspect()

       lval  op     rval      Estimate  Std. Err     z-value   p-value
0     sdorm   ~     bio9 -4.450344e-03  0.003189   -1.395386    0.1629
1     sdorm   ~    snp3s -4.778993e-01  0.062625    -7.63118       0.0
2     pdorm   ~     bio9 -7.868225e-03  0.004976   -1.581154  0.113843
3     snp5b   ~     bio9  3.304421e-02  0.003864    8.551633       0.0
4     sdorm   ~  fitness  1.000000e+00         -           -         -
5     pdorm   ~  fitness -6.722398e-01  0.000896 -750.594308       0.0
6     sdorm   ~        1  5.924870e-01  0.716542     0.82687  0.408311
7     pdorm   ~        1  5.944164e-01  1.123259    0.529189  0.596674
8     snp5b   ~        1 -2.258691e-01  0.872215    -0.25896  0.795666
9   fitness  ~~  fitness  1.330085e-02  0.020203    0.658348  0.510315
10    sdorm  ~~    pdorm  1.841399e-01  0.048939    3.762634  0.000168
11    sdorm  ~~    sdorm  1.185751e-18  0.029707         0.0       1.0
12    pdorm  ~~    pdorm  6.172295e-22   0.05062         0.0       1.0
13    snp5b  ~~    snp5b  0.000000e+00  0.035678         0.0       1.0
14    pdorm  RF    pdorm  1.389359e+00  0.135996   10.216199       0.0
15    sdorm  RF    sdorm  5.506546e-01    0.0846    6.508909       0.0
16    snp5b  RF    snp5b  8.413506e-01  0.095822    8.780328       0.0

In [46]:
data = df_sub1
data['group'] = 0

/var/folders/_n/6f9lbyk959q4h617mnpxbxx40000gn/T/ipykernel_91239/189275379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['group'] = 0

In [48]:
df_sub1.describe()

,ID,sdorm,pdorm,bio9,snp5b,snp3s,group
count,245.000000,245.000000,245.000000,245.000000,245.000000,245.000000,245.0
mean,19336.987755,0.123128,0.583390,7.942449,0.273469,0.946939,0.0
std,33421.077193,0.256957,0.364022,7.995213,0.446652,0.224614,0.0
min,139.000000,0.000000,0.000000,-4.300000,0.000000,0.000000,0.0
25%,6203.000000,0.000000,0.188679,2.000000,0.000000,1.000000,0.0
50%,8426.000000,0.000000,0.731707,2.700000,0.000000,1.000000,0.0
75%,9822.000000,0.076923,0.911765,16.000000,1.000000,1.000000,0.0
max,116026.000000,0.984375,1.000000,25.400000,1.000000,1.000000,0.0

In [50]:
df_sub1['Admixture'].value_counts()

sweden            95
spain             76
central_europe    38
france            26
western_europe     9
portugal           1
Name: Admixture, dtype: int64

In [58]:
df_sub1.loc[df_sub1['Admixture'] == 'sweden', ['group']] = 0
df_sub1.loc[df_sub1['Admixture'] == 'spain', ['group']] = 1
df_sub1.loc[df_sub1['Admixture'] == 'central_europe', ['group']] = 2
df_sub1.loc[df_sub1['Admixture'] == 'france', ['group']] = 3
df_sub1.loc[df_sub1['Admixture'] == 'western_europe', ['group']] = 4
df_sub1.loc[df_sub1['Admixture'] == 'portugal', ['group']] = 5

/Users/nhutran/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [59]:
df_sub1.head()

      ID       Admixture     sdorm     pdorm  bio9  snp5b  snp3s group
0  10005  central_europe  0.000000  0.166667   1.3      0      1     2
1  10017  central_europe  0.000000  0.868421   2.5      0      1     2
2   1002          sweden  0.000000  0.843373   2.4      0      1     0
3   1061          sweden  0.023256  0.865854   1.9      0      1     0
4   1062          sweden  0.152778  0.463415   1.9      0      1     0

In [65]:
from semopy.examples import multivariate_regression
from semopy import ModelMeans

desc = multivariate_regression.get_model()
data = multivariate_regression.get_data()
data['group'] = 0
np.random.seed(10)
U =  np.array([np.random.normal(scale=1, size=1).flatten() for _ in range(3)])
data.iloc[0:25, 3] +=  U[0].flatten()
data.iloc[0:25, -1] = 0
data.iloc[25:50, 3] += U[1].flatten()
data.iloc[25:50, -1] = 1
data.iloc[50:75, 3] +=  U[2].flatten()
data.iloc[50:75, -1] = 2

mod = ModelMeans(desc)
mod.fit(data, groups=['group'])
print(semopy.calc_stats(mod))

       DoF  DoF Baseline     chi2  chi2 p-value  chi2 Baseline       CFI  \
Value   -9             0  3.79273           NaN       7.139385 -0.791853

           GFI  AGFI      NFI  TLI  RMSEA        AIC        BIC    LogLik
Value  0.46876   1.0  0.46876  NaN    NaN  21.880228  60.957781  4.059886

/Users/nhutran/opt/anaconda3/lib/python3.9/site-packages/semopy/stats.py:386: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt((chi2 / dof - 1) / (model.n_samples - 1))

In [29]:
desc='''
#measurement model
adaptation =~ sdorm + pdorm 

#regressions
adaptation ~ bio9
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s + snp5b
pdorm ~ snp5b 

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
k = kin1
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
semopy.report(m, "semopy.Model4.1")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.

In [25]:
desc='''
#measurement model
A =~ sdorm + pdorm

#regressions
A ~ bio9
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s + snp5b
pdorm ~ snp5b 


#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
semopy.report(m, "semopy.Model5.2")

In [15]:
df_sub1.describe()

,ID,sdorm,pdorm,bio9,FT16,FT10,snp5b,snp3s
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,7871.653846,0.140132,0.593014,0.670863,0.952508,0.980828,0.274038,0.937500
std,2014.378018,0.272781,0.364934,0.740114,0.297229,0.182560,0.447105,0.242645
min,139.000000,0.000000,0.000000,-0.399561,0.391730,0.589797,0.000000,0.000000
25%,6191.750000,0.000000,0.188078,0.176550,0.700065,0.840954,0.000000,1.000000
50%,8248.000000,0.000000,0.760282,0.232303,0.929340,0.986287,0.000000,1.000000
75%,9590.000000,0.115476,0.915487,1.461184,1.162950,1.128798,1.000000,1.000000
max,10017.000000,0.984375,1.000000,2.360195,1.689337,1.402531,1.000000,1.000000

In [35]:
desc='''
#measurement model
fitness =~ sdorm + pdorm 

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s + snp5b
pdorm ~ snp5b

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
report(m, "semopy.Model3")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.

In [35]:
desc='''
#measurement model
fitness =~ pdorm + sdorm 

#regressions
sdorm, pdorm ~ bio9
snp5b ~ bio9
sdorm ~ snp3s + snp5b
pdorm ~ snp5b

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
k = kin1
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
report(m, "semopy.Model3.1")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.

In [37]:
desc='''
#measurement model
A =~ pdorm + sdorm 

#regressions
sdorm, pdorm, A ~ bio9
snp5b ~ bio9
sdorm ~ snp3s + snp5b
pdorm ~ snp5b

#residual correlations
sdorm ~~ pdorm
'''

data=df_sub1 
m = Model(desc,)
m.fit(data)
m.predict_factors(data).head()
m.inspect()
semopy.report(m, "semopy.Model3.4")

WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.
WARNING:root:Fisher Information Matrix is not PD.Moore-Penrose inverse will be used instead of Cholesky decomposition. See 10.1109/TSP.2012.2208105.